<div class="list-header">
    <h2 class="list-title">Usuários</h2>
    <button class="btn" (click)="novo()">Novo Usuário</button>
  </div>
  
  <div class="usuarios-grid">
    <div class="usuario-card" *ngFor="let u of usuarios">
      <div class="usuario-info">
        <strong>{{ u.nome }}</strong>
        <p>{{ u.email }}</p>
        <p><b>Tipo:</b> {{ u.tipo }}</p>
        <p><b>Data de Criação:</b> {{ u.dataCriacao || '—' }}</p>
      </div>
      <button class="edit-btn" (click)="editar(u.id)">✏️</button>
    </div>
  </div>
  