<div>
  <div class="list-header">
    <span>Total: {{ tickets?.length || 0 }}</span>
  </div>

  <div class="tickets-grid">
    <div *ngFor="let t of tickets" class="ticket-card">

      <div class="ticket-info">
        <strong class="ticket-title">{{ t.titulo }}</strong>

        <p><b>ID:</b> {{ t.id }}</p>
        <p><b>Descrição:</b> {{ t.descricao }}</p>
        <p><b>Criado em:</b> {{ t.dataCriacao | date:'dd/MM/yyyy HH:mm' }}</p>
      </div>

      <div class="ticket-meta">
        <span [ngClass]="statusClass(t.status)" class="status">{{ t.status }}</span>
        <button class="btn btn-detail" (click)="open(t.id)">Detalhes</button>
      </div>

    </div>
  </div>
</div>